.landing {
  a {
    text-decoration: none;
    font-weight: bold;
    color: darkblue;
  }

  p {
    margin-top: 25px;
  }

  .swap * {
    display: inline-block;
  }

  form {
    margin-top: 20px;
  }
}
